{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Мои бронирования</h2>
            <a href="{% url 'book_computer' %}" class="btn btn-primary mb-3">Новое бронирование</a>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Компьютер</th>
                            <th>Дата/время</th>
                            <th>Длительность</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.computer.name }}</td>
                            <td>{{ booking.start_time|date:"d.m.Y H:i" }}</td>
                            <td>{{ booking.duration_hours }} ч.</td>
                            <td>{{ booking.get_status_display }}</td>
                            <td>
                                {% if booking.can_be_canceled %}
                                <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-sm btn-danger">Отменить</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">У вас нет активных бронирований</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}