{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="register-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="register-card card">
                    <div class="card-header">
                        <h3>Создать аккаунт в GameZone</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="register-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn register-btn">Зарегистрироваться</button>
                        </form>
                        <div class="register-links">
                            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}